$blue: #3f5468;
$lightgreen: #e9fadd;
$brown: #42291c;
$cream: #f9f6f2;
$lightbrown: #a0855b;
$black: #262626;


@mixin flex($direction, $wrap, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $align;
}

@mixin position ($pos, $top, $right, $bottom, $left) {
    position: $pos;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin box-shadow ($x, $y, $color) {
    box-shadow: $x $y $color;
}

@mixin text-shadow ($x, $y, $color) {
    text-shadow: $x $y $color;
}

//Thanks to https://thoughtbot.com/blog/sasss-content-directive
@mixin media($width) {
    @media (max-width: $width) {
        @content;
    }  
}

@mixin media-height($width) {
    @media (max-height: $width) {
        @content;
    }  
}